.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    margin-bottom: 2rem;
  }

  &_fields{
    display: flex;
    flex-direction: column;
    width: 300px;
    .field {
      width: 100%;
      border: 2px solid var(--c-grey);
      border-radius: 20px;
      padding: 5px 15px;
      outline: none;
      transition: all var(--t-duration);
      margin-bottom: 1rem;

      &:focus {
        border: 2px solid var(--c-main);
      }
    }
  }


  &_btn {
    width: 100px;
  }
}