.expand_task {
  width: 700px;
  color: var(--c-black);

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h3 {
      margin: 0;
    }

    .tick {
      font-size: 30px;
      color: var(--c-main-light);
      cursor: pointer;
      transition: 0.6s;

      &_done {
        color: var(--c-main);
        font-size: 30px;
        cursor: pointer;
        transition: 0.6s;
      }

      &:hover {
        color: var(--c-main);
      }
    }
  }
}

.task_done {
  text-decoration: line-through;
}
