.btn {
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1rem;
  width: 100%;
  color: $c-white;
  cursor: pointer;
  transition: background-color $t-duration;
  background-color: $c-main;
  border-radius: 30px;

  &:hover {
    background-color: $c-light;
  }

  &:active {
    transform: scale(0.9);
  }
}
