$font-size-base: 1rem;
$font-weight-base: 300;
$line-height-base: 1.2;

$ff-head: 'Poppins', serif;
$ff-main: 'Poppins', serif;

$t-duration: 0.4s;

$c-black: #303030;
$c-grey: #F9F9F9;
$c-white: #FFFFFF;
$c-main: #25ACAC;
$c-main-light: #C4E6E6;
$c-main-dark: #0C8282;
$c-red: #be0101;
