$font-size-base: 1rem;
$font-weight-base: 300;
$line-height-base: 1.2;

$ff-head: 'Poppins', serif;
$ff-main: 'Poppins', serif;

$t-duration: 0.4s;

$c-black: #000;
$c-grey: #AAAAAAFF;
$c-white: #fff;
$c-light: #c9c9c9;
$c-main: #d48df8;
