@import '../../styles/main.scss';

.calendar_wrapper {
  .calendar {
    width: 570px;
    margin-right: 1rem;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      text-align: center;
    }

    li {
      color: #333;
      width: calc(100% / 7);
      font-size: 0.7rem;
    }

    & .weeks li {
      font-weight: bold;
      color: $c-main;
    }
  }

  .calendar .days {
    margin-bottom: 20px;

    li {
      z-index: 1;
      height: 80px;
      cursor: pointer;
      position: relative;
      margin-top: 10px;
      padding: 5px;
      font-size: 14px;
    }
  }

  .days {
    & li.inactive {
      color: $c-main;
    }

    :hover {
      background: $c-main-light;
      border-radius: 10px;
    }
    .task {
      padding: 5px;
      /* width: 100%; */
      background: $c-main-dark;
      margin: 5px auto 0 auto;
      border-radius: 10px;
    }
  }

  .month_title {
    display: flex;
    color: $c-main-dark;

    & span {
      font-weight: bold;
      margin-right: .5rem;
    }
  }

  .selected_day {
    background: $c-main-light;
    border-radius: 10px;
  }

  .current_day {
    background: #0C8282;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
  }

}

.arrow {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}
