@import '../../styles/main.scss';

.expand_day {
  width: 350px;
  height: 550px;
  padding: 80px 70px;
  background: $c-main;
  color: $c-grey;
  font-weight: bold;
  border-radius: 0 50px 50px 0;
  display: flex;
  flex-direction: column;

  .date {
    text-align: right;
    border-bottom: 2px solid $c-main-dark;

    h2 {
      font-size: 5rem;
      margin-bottom: 0;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    font-size: 14px;
  }

  .tasks {
    margin: 1rem 0;
    font-weight: 300;

    &_add {
      display: flex;
      align-items: center;
      justify-content: end;

    }

    &_icon {
      font-size: 20px;
      margin-left: 0.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    ul {
      list-style: disc inside;
      direction: rtl;
      font-size: 14px;
      margin-top: 1rem;
      max-height: 150px;
      overflow-x: hidden;

      li {
        margin: 0.5rem 0;
        padding: 0.2rem 0.5rem;
        border-radius: 20px;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
          background: linear-gradient(270deg, rgba(234, 228, 247, 0.34) 3.34%, rgba(234, 228, 247, 0.1224) 103.07%);
        }
      }
    }

  }
}


